@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300&display=swap');

body {
    background: #343541;
}

#input_container {
    background: rgb(64, 65, 79);
    width: 60%;
}

input:focus {
    outline: none;
}

#question {
    background: transparent;
    width: 90%;
}

#validate {
    background: transparent;
    color: rgb(142, 142, 160);
}

.user_question {
    background: #202123;
}

.answer_content {
    background: #343541;
}

.answer_content p {
    white-space: nowrap;
}

.typewriter p {
    margin: 0 5px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.user_question,
.answer_content {
    font-family: IBM Plex Mono, monospace;
    font-size: 1rem;
}

i {
    cursor: pointer;
}

svg {
    transform: rotate(90deg);
    background: transparent;
}